
body{
	font-family: 'Quicksand', sans-serif;
}

span{
	font-weight: bold;
}
.navbar-fixed{
	opacity: .9;
}
.welcome{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 3.5em;
}
.about-c{
	background-color: black;
	opacity: .6;
	height: 175px;
}
.about-header{
	font-weight: bold;
}
.header{
	font-weight: bold;
}
.contact{
	padding-right: 20px;
}