header{
	margin-top: 2.5em;
	width:100%;
	.welcome{
		font-family: 'Poiret One', cursive;
		color: $nav-font-color;
		font-size: $nav-font-size;
		font-weight: bold;
		margin: 0;
		text-align: center;
	}
}