$nav-font-size: 3em;
$nav-font-color: #E08835;

body{
	margin: 0;
	background-color:#F1F3F1;
	.welcome{
		text-align: center;
		font-size: $nav-font-size;
		font-family: 'Poiret One', cursive;
		font-weight: bolder;
		color: $nav-font-color;
		margin-bottom: 20vh;
	}
}
			
.wrapper{
	width: 950px;
	margin: 0 auto;
	.projects{
		width:725px;
		display: inline-block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		.project-list{
			list-style: none;
			padding: 0;
			display: inline-block;
			margin: 0 auto;
			.project-li{
				display: inline-block;
				margin: 0;
				padding-right: 5px;
				float: left;
				.pa{
					margin: 0;
					text-decoration: none;
					.pimg{
						display: inline-block;
						width: 230px;
						height: 225px;
						border: solid .25px black;
					}
					.overlay{
						position: relative;
						width: 100%;
						height: 95%;
					}
					.title{
						text-align:center;			
						font-family: 'Poiret One', cursive;
						font-size: 1.25em;
						color: white;
						margin-top: 30%;
					}
					.overlay .caption{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						display:none;
					}
					.overlay:hover .caption{
						display: block;
    					background: rgba(0, 0, 0, .91);

					}
				}
			}
		}
	}

	#about{
		display: inline-block;
		float: left;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Rokkitt', serif;
		width: 175px;
		height: 100%;
		.about{
			text-align: center;
		}
		.text{
			font-size: 1.25em;
		}
		span{
			color: $nav-font-color;
			font-weight:bold;
		}
	}
	.links{
		height: 40px;
		.link-ul{
			text-align: center;
			margin-left:auto;
			margin-right:auto;
			padding: 0;
			list-style: none;
			.icon-li{
				display: inline-block;
			.icon{
				width: 30px;
				height: 30px;
				margin-right: 20px;
				&:hover{
					border-bottom: solid 2px $nav-font-color;
					}
				}
			}
		}
	}	
}

