<div class="row cards">
	<div class="col-sm-12 col-md-6 mt-4">
			<div class="card text-white border-light h-100">
				<div class="card-header">Cinch</div>
				<div class="card-body">
					<p class="card-text">It's always the same question? "What do you want to eat?" Cinch gives users randomized food choices for all times of day. Built on Node and Express.</p>
					<a class="text-warning" href="https://cinch-app.herokuapp.com/">Cinch</a>
				</div>
			</div>
    </div>
	<div class="col-sm-12 col-md-6 mt-4">
		<div class="card text-white border-light h-100">
			<div class="card-header">MBanking</div>
			<div class="card-body">
				<p class="card-text">Using the D3 library, I visualized some basic banking information with different types of visual charts.</p>
				<a class="text-warning" href="http://www.ckmora.com/MBanking/">MBanking</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.cards').fadeOut(0);
		$('.cards').fadeIn(400);
		let card = anime({
			targets: '.cards .card',
			translateX: [-3500, 0],
			rotateY: "2turn",
			scale:[1.5,.95],
			delay: function(el,i,l){
				return (l-i) * 1500;
			},
			duration: 2500,
			easing: 'easeInOutQuad',
		});
	});
</script>



